.auth-login-wrapper .login-card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #ffc0cb;
  border-radius: 8px;
  padding: 50px;
}

.register-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #020100;
}

.register-image {
  flex: 1;
  min-width: 300px;
}

.register-form {
  flex: 1;
  min-width: 300px;
  background-color: #ffc0cb;
  color: black;
  padding: 20px;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }
  .register-image,
  .register-form {
    min-width: 100%;
  }
}
